<% include header %>
<html>

<body>







<aside>
<main>
<aside>
<p style="text-align:right">Made by: Sampath Vagicharla</p>
<p style="text-align:right">Contact: S533978@NWMISSOURI.EDU</p>
<img src="IMG_0629.JPG" alt="Sampath" style="width:200px" align="right">
</aside>
<header>
<h2> 07 - SAMPATH VAGICHARLA  - A01 ASSIGNMENT</h2>
</header>

<h3>Social Media Connect</h3>
<a href="https://www.facebook.com" class="fa fa-facebook"></a>
<a href="https://www.linkedin.com/in/sampath-vagicharla-129011172/" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>

<article class="article">
<section>

<h3>Click the above buttons to get connected socially.</h3>
<h3>Present</h3>
<p id = "para1">I am new student to this university, came from india, to work on my Master's Degree.</p>
<h3 section id="PastSection">My Past</h3>
<p id="para1">I am from India and I completed my under-graduation in Information Technology at SRM University Chennai.</p>
<h3 section id="FutureSection">Future Endeavours</h3>
<p id="para2">I aspire to become a Computer Engineer.</p>
</section>
</article>
</main>
</aside>

</body>
<h3>Sample Video</h3>
<iframe width="560" height="315"  src="https://www.youtube.com/embed/2OcbJkQY-SA"
 frameborder="1px" allow="autoplay; encrypted-media" allowfullscreen></iframe>

 <% include footer %>


</html>